@import url("https://fonts.googleapis.com/css2?family=Ole&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: url("https://res.cloudinary.com/dhhnhfcrw/image/upload/v1780572733/Grace/Messenger_creation_AE1E06EE-1AD4-4C57-9879-661F3E3F5006_tyrlvo.jpg") fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* beginning of custom styling */

/* main section styling */


/* font stlying */
.ole-regular-font {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Ole", cursive;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
h2 {
  font-family: "Ole", cursive;
  font-size: 54px;
  color: white;
  font-weight: bold;
}
h3 {
  color: white;
  font-family: "Ole", cursive;
  font-size: 48px;
  font-weight: bold;
}
h4 {
  font-family: "Ole", cursive;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
h5 {
  font-family: "Ole", cursive;
  font-size: 36px;
  font-weight: bold;
  color: white;
}
h6 {
  font-family: "Ole", cursive;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
p, .videos h5{
  color: white;
  font-size: 30px;
}

/* header styling */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* social icon */
.social-icons a {
  color: black;
  font: 24px;
  cursor: pointer;
  margin: 5px;
}

/* gallery component stying */
.gallery-arrow {
  display: none;
}

@media screen and (max-width: 991px) {
  .gallery-wrapper {
    position: relative;
  }

  .gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .gallery::-webkit-scrollbar {
    display: none;
  }

  .gallery-img {
    width: 250px;
    height: auto;
    margin: 5px;
    flex-shrink: 0;
  }

  .gallery-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .gallery-arrow.left {
    left: 10px;
  }

  .gallery-arrow.right {
    right: 10px;
  }

    /* video component styling */
.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media screen and (min-width: 992px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .gallery-img {
    width: 250px;
    height: auto;
    margin: 5px;
  }

  /* video component styling */
  .videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

